.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navg {
  display: flex;
  gap: 6vw;
  list-style-type: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 2vw;
  height: 3vw;
}

.searchForm {
  font-size: 2vw;
}

.bLogo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
  color: red;
}

.itemCat {
  display: flex;
  gap: 5vw;
  list-style-type: none;
  font-size: 1vw;
}

.headerImg {
  width: 6vw;
  height:6vw ;
}

.headerButton {
  width: 8vw;
  font-size: 1.5vw;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0.75rem;
  background-color: red;
  color: white;
  border-color: red;
  margin-top:-2vw ;
}

.headerButton:hover 
{
  transform:scale(1.5) ;
  transform:scale(1.5) ;
}

.header {
  background-color:navy;
  margin-top:-2vw ;
  color:white ;
  height:20vw ;
}

.link {
  color: white ;
  text-decoration: none;
}

.cardTit 
{
  font-size:1.5vw ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top:-0.25vw ;
}

.contentBody {
  font-size: 1.6vw;
}

.contentImg {
  width: 15vw;
  height: 10vw;
}

.contentMobImg {
  width: 9vw;
  height: 10vw;
}

.contentCards {
  display: flex;
  gap: 5vw;
  list-style-type: none;
  font-size: 2vw;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left:-2vw ;
}

.contentCard {
   background-color:purple ;
   width:15vw ;
   height:22vw ;
   border-radius:0.70rem ;
   border:solid ;
   border-color:darkgray ;
}

.contentCard:hover 
{
   transform:scale(1.5) ;
   transform:scale(1.5) ;
}

.contentMobCards {
  display: flex;
  gap: 5vw;
  list-style-type: none;
  color: white;
  font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contentButton {
  width: 10vw;
  font-size: 1.5vw;
  border-color: red;
  background-color: red;
  color: white;
  margin-top:-4vw ;
  border-radius: 0.65rem;
}


.cHeading {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  color: white;
  font-size: 3vw;
  text-align: center;
}

#contentEndButton {
  font-size: 1.5vw;
  width: 10vw;
  margin-right: 50vw;
  margin-left: 40vw;
  border-radius: 0.75rem;
  border-color: purple;
  background-color: red;
  margin-bottom: 3vw;
}
.Content {
  margin-top: 0vw;
  background-color: mediumslateblue;
  color:yellow ;
  height:95vw ;
}

.contentTit 
{
   color:yellow ;
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-size:1.5vw ;
}

.instance {
  list-style-type: none;
  font-size: 2vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.instanceHead {
  font-size: 3vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.ElectronicsComp {
  color: white;
  text-align: center;
  border: solid;
  background-color:purple ;
  color: white;
}

.groceryInstance {
  list-style-type: none;
  font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.groceryInstanceHead {
  font-size: 3vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.Groceries {
  text-align: center;
  border: solid;
  border-color: lightgrey;
  background-color: purple;
  color: white;
}

.clothingInstance {
  list-style-type: none;
  font-size: 2vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.clothingInstanceHead {
  font-size: 3vw;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.Clothing {
  text-align: center;
  border: solid;
  border-color: lightgrey;
  background-color: purple;
  color: white;
}

.homeAppliancesInstance {
  list-style-type: none;
  font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homeAppliancesInstanceHead {
  font-size: 3vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.HomeAppliances {
  text-align: center;
  border: solid;
  border-color: lightgrey;
  background-color: purple;
  color: white;
}

.appleMacSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.appleMacList {
  background-color: black ;
  color:yellow ;
  font-size: 1vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.appleMacList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.appleMacButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.appleMacImage {
  width: 15vw;
  height: 11vw;
}

.AppleMac {
  background-color: green;
  margin-top:-1.2vw ;
  height:95vw ;
}
.printerSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.printerList {
  background-color: navy;
  color:white ;
  font-size: 0.95vw;
  width: 25vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border:solid ;
  border-color: grey;
}

.printerButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.printerImage {
  width: 12vw;
  height: 12vw;
}

.Printer {
  background-color: mediumslateblue;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-right:-1vw ;
  margin-left:-1vw ; 

}

.printerList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.earphoneSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.earphoneList {
  background-color: navy;
  color:white ;
  font-size: 0.95vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border:solid ;
  border-color: darkgray;
}

.earphoneList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.earphoneButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.earphoneImage {
  width: 15vw;
  height: 11vw;
}

.Earphone {
  background-color: mediumslateblue;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-right:-1vw ;
  margin-left:-1vw ; 
}

.monitorSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.monitorList {
  background-color:navy;
  color:white ;
  font-size: 0.95vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border:solid ;
  border-color:darkgray
}

.monitorList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.monitorButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.monitorImage {
  width: 12vw;
  height: 12vw;
}

.Monitor {
  background-color: mediumslateblue;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-right:-1vw ;
  margin-left:-1vw ;
}

.projectorSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.projectorList {
  background-color: white;
  font-size: 0.95vw;
  width: 25vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.projectorButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.projectorImage {
  width: 12vw;
  height: 12vw;
}

.Projector {
  background-color: mediumslateblue;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-right:-1vw ;
  margin-left:-1vw ;
}

.projectorList {
  background-color: navy;
  color:white ;
  border:solid ;
  border-color:darkgray ;
  font-size: 0.95vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.projectorList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.realmeSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.realmeList {
  background-color: navy;
  color:white;
  font-size: 0.95vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border:solid ;
  border-color:darkgray
}

.realmeList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.realmeButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.realmeImage {
  width: 7vw;
  height: 10vw;
}

.Realme {
  background-color: mediumslateblue;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-right:-1vw ;
  margin-left:-1vw ;
}

.pocoSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.pocoList {
  background-color: black;
  color:yellow ;
  font-size: 0.95vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.pocoList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.pocoButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.pocoImage {
  width: 7vw;
  height: 10vw;
}

.Poco {
  background-color: green;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-right:-1vw ;
  margin-left:-1vw ;
}

.redmiSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.redmiList {
  background-color: black;
  color:yellow ;
  font-size: 0.95vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.redmiList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.redmiButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.redmiImage {
  width: 7vw;
  height: 10vw;
}

.Redmi {
  background-color: green;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-right:-1vw ;
  margin-left:-1vw ;
}


.Oppo {
  margin-top: 5vw;
}

.oppoSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.oppoList {
  background-color: black;
  color:yellow ;
  font-size: 0.95vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.oppoList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.oppoButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.oppoImage {
  width: 7vw;
  height: 10vw;
}

.Oppo {
  background-color: green;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-right:-1vw ;
  margin-left:-1vw ;
}

.lenovoSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.lenovoList {
  background-color: black;
  color:yellow ;
  font-size: 0.95vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.lenovoList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.lenovoButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.lenovoImage {
  width: 15vw;
  height: 11vw;
}

.Lenovo {
  background-color: green;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-right:-1vw ;
  margin-left:-1vw ;
}

.asusSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}


.asusButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.asusList {
  background-color: black;
  color:yellow ;
  font-size: 0.95vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.asusList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.asusImage {
  width: 15vw;
  height: 11vw;
}

.Asus {
  background-color: green;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-right:-1vw ;
  margin-left:-1vw ; 
}


.hpSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.hpList {
  background-color: black;
  color:yellow ;
  font-size: 0.95vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.hpList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.hpButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.hpImage {
  width: 15vw;
  height: 11vw;
}

.HP {
  background-color: green;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-right:-1vw ;
  margin-left:-1vw ; 
}
.dellSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.dellList {
  background-color: black;
  color:yellow ;
  font-size: 0.95vw;
  width: 30vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.dellList:hover{
  transform:scale(1.5) ;
  transform:scale(1.5) ;

}

.dellButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.dellImage {
  width: 15vw;
  height: 11vw;
}

.Dell {
  background-color: green;
  margin-top:-1.2vw ;
  height:95vw ;
  margin-left:-1vw ;
}



.Profile 
{
   background-color:purple ;
   margin-right:25vw ;
   margin-left:25vw ; 
   margin-top:-1vw ;
}

.mainContainer {
  background-color: whitesmoke;
  width:60%;
  height:fit-content ;
  margin-top:5vw ;
  justify-content:center;
  margin-left:20vw ;
  margin-right:20vw ;
  border-radius:0.60rem ;
  border:solid ;
  border-color:black;
}

.formHeading{
  font-size:2vw ;
  font-family:Verdana ;
  text-align: left;
  padding-left:12vw ;
}

.formSubHeading{
  font-size:1.20vw ;
  font-family:Verdana ;
  text-align: left;
  padding-left:12vw ;
  color:darkgray
}

.formInputs{
  width:60%;
  border-radius:0.65rem ;
  height:3vw ;
  margin-top:1vw ;
  font-size:1.30vw ;
}

.loginButton {
  margin-top:2vw ;
  width:61% ;
  font-size:1.30vw ;
  border-radius:0.40rem ;
  margin-bottom:2vw ;
  background-color: blue;
  color:white ;
  height:4vw ;
}

.pageLinking{
  font-size:1.15vw ;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  text-decoration: none;
  color:black ;
}

.pageLinking:hover {
  color:red ;
}








.Shows 
{
   background-color: black;
   color:yellow ;
   margin-top:-2vw ;
   height:125vw ;
}

.showsHeading 
{
   font-size:3vw ;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.videoCollection 
{
   display:flex ;
   list-style-type:none ;
   gap:3vw ;
   margin-right:1vw ;
}

.videoCollectionItems:hover 
{
   transform:scale(1.5) ;
   transform:scale(1.5) ;
}

.lenovoContent {

  color:white ;
}

