.applePhoneSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.applePhoneList {
  background-color: white;
  font-size: 0.95vw;
  width: 25vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.applePhoneButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.applePhoneImage {
  width: 7vw;
  height: 10vw;
}

.ApplePhone {
  background-color: orange;
}
